/* form */
.form-cnt {
    height: 20%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.form-task {
    display: flex;
}

.form-input-cnt {
    display: flex;
    flex-direction: column;
}

.inpt {
    /*height: 40px;*/
}

/* tasks grid */
.tasks-cnt {
    height: 80%;
}

.time-row-cnt {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: relative;
}

.time-row {
    display: flex;
    height: 100px;
    padding-bottom: 20px;
}

.time-text {
    display: block;
    font-size: 25px;
    margin-right: 20px;
    color: #BABABA;
}

/* task */
.task-cnt {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.task-cnt > .task:not(:first-child) {
    margin-left: 20px;
}

.task {
    background-color: #E1ECF5;
    border-left: 1px solid #83B1D7;
    flex: 1;
    font-size: 20px;
}