*{
    margin: 0;
    padding: 0;
}

.header{
    font-size: 24px;
    padding: 10px;
    text-align: center;
    background-color: rgb(182, 182, 182);
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.addEvent{
    text-align: center;
    background-color: rgb(236, 238, 108);
}

.sticky{
    margin-top: 50px;
    position: sticky;
    top: 50px;
}

.eventCalendar{
    font-family:'Open Sans', sans-serif;
    font-weight: 200;
    width: 100%;
}